#centre-card {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

svg {
  width: 200px;
  height: 200px;
}

svg:hover {
  fill: #f1832e;
}

.secondary-font {
  font-family: "smoothie_shopperegular";
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.navbar {
  background-color: #fbf8e9;
}

html,
body {
  background-color: #fbf8e9;
  font-family: "nixie_oneregular";
  height: 100%;
  margin: 0;
  color: #f1832e;
}

.navbar-brand {
  color: #f1832e;
}

.nav-link {
  color: #f1832e;
}

.fill {
  min-height: 100%;
  height: 100%;
}

#img-spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.multiple-icon-row {
  position: relative;
}

.img-overlap {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;

  animation: move 10s infinite;
  animation: shake 10s infinite;
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  30% {
    top: 5px;
  }
  50% {
    left: 5px;
  }
  75% {
    bottom: 5px;
  }
  100% {
    left: 0;
  }
}

.img-overlap-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;

  animation: move-2 10s infinite;
  animation: shake-2 10s infinite;
}

@keyframes shake-2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes move-2 {
  0% {
    right: 0;
  }
  30% {
    bottom: 5px;
  }
  50% {
    right: 5px;
  }
  75% {
    top: 5px;
  }
  100% {
    right: 0;
  }
}

@media only screen (max-device-width: 768px) {
  html,
  body {
    display: none;
  }
}

.top-panel {
  width: 100%;
  height: 2vh;
  position: relative;
}

.top-panel::before {
  content: "╲╱";
  color: #fff;
  position: absolute;
  opacity: 0.8;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  width: 3rem;
  font-size: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  bottom: 1rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
